.table {
    border-spacing: 0 1rem;
    width: 100%;
    text-align: left;
    font-size: 1.2rem;

    &__head {
      color: var(--textEmphasis);
      font-weight: bold;
    }

    &--responsive {
      overflow-x: auto;
      overflow-y: hidden;
    }
    
    &__body {
      
    }
    
    &__line {
      background-color: var(--secondary);
      position: relative;

      &:first-child {
        max-height: 6.1rem;
      }
    }

    &__column {
      padding: 1rem 5rem;
      min-width: 20rem;

      @include respond(phone) {
        min-width: 8rem;
        padding: 1rem 2rem;
      }

      &:first-child {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        background-color: var(--secondary);
        border-right: 1px solid var(--grey);
        min-width: 10rem;

        @include respond(phone) {
          min-width: 8rem;
          padding: 1rem 2rem;
          position: initial;
          border-right: none;
        }
      }

      &:last-child {
        position: -webkit-sticky;
        position: sticky;
        right: 0;
        background-color: var(--secondary);
        border-left: 1px solid var(--grey);
        width: auto;

        @include respond(phone) {
            padding: 1rem 2rem;
        }
      }
    }
}