.table {
  @include respond(phone) {
    display: none;
  }

  border-spacing: 0 1rem;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;

  &__head {
    color: var(--textEmphasis);
    font-weight: bold;
  }

  &--responsive {
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  &__line {
    background-color: var(--secondary);
    position: relative;

    &:first-child {
      max-height: 6.1rem;
    }

    &:nth-child(even) {
      background-color: var(--textEmphasis);
      color: white;
    }
  }

  &__column {
    padding: 1rem 2rem;

    .actions {
      display: inline-flex;
      gap: 1rem;
    }

    &:first-child {
      position: -webkit-sticky;
      position: sticky;
      left: 0;
      background-color: var(--secondary);
      color: var(--textEmphasis);
      border-right: 1px solid var(--grey);
    }

    &:last-child {
      position: -webkit-sticky;
      position: sticky;
      right: 0;
      background-color: var(--secondary);
      border-left: 1px solid var(--grey);
      width: 1rem;
    }
  }
}