:root {
    --primary: rgb(50, 192, 114);
    --primary-rgb: 50, 192, 114;
    --secondary: #FFFFFF;
    --grey: #e7e7e7;
    --background: #F3F3F3;
    --darker: #222222;
    --textEmphasis: #6A6A6A;
    --borderColor: #ced4da;
    --success: #19a156;
    --danger: #b83b3b;
    --warning: #dd7d2e;
    --dangerLight: #e45c5c;
}